<div class="container d-flex mx-auto justify-content-center align-items-center">
    <form class="form-inline p-5" method="POST" action="/">
        <div class="form-group mx-sm-3 mb-2">
            <input name="user" type="text" class="form-control" id="inputPassword2" placeholder="Annotator">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Start</button>
    </form>
</div>